<% content_for :title, "Home" %>
<div class="jumbotron text-center bg-light py-5">
  <h1 class="display-4">Welcome to Our Blog Website</h1>
  <p class="lead">This is the home page where you can find the latest blogs and updates.</p>
</div>

