<% content_for :title, "Privacy Policy" %>
<div class="container py-5">
  <h1 class="display-4">Privacy Policy</h1>
  <p class="lead">This is our privacy policy outlining how we handle user data.</p>
</div>

