<footer class="bg-dark text-white text-center py-3 mt-auto">
<small>
  <p id="copyRightYear">© Blog_Website. All rights reserved.</p>
</small>
</footer>

<script>
  document.getElementById('copyRightYear').textContent = `© ${new Date().getFullYear()} SimpleApp. All rights reserved.`;
</script>